@import "compass/css3";

*,
*:after,
*:before {
   box-sizing: border-box; 
}



body {
    background-color: rgb(3, 25, 32);
  }

  h1 {
    color: rgb(164, 164, 168);
    text-align:center;
    font-size:x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: underline;
     
  }

  h2 {
    color: rgb(243, 243, 250);
    text-align:right;
    font-size:35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    right: 250px;
  }
  
  .rightDiv {
    position: absolute;
    left: 725px;
    top: 200px;
  }

  .rightButton {
    color: black;
    text-align:center;
    font-size:30px;
    font-family: 'sofia';
    border-radius: 6px;
    
    background-color:rgb(252, 228, 228);
    

    
    
  } 

  .rightButton:hover {
    font-size:40px;
    background-color:wheat;
    
  }

  .leftDiv {
    position:absolute;
    left: 230px;
    top: 650px;
    width: 500px;
    height: 500px;
    
    
  } 

  .container {
    position: absolute;
    bottom:60px;
    left: -140px;
    
    
  }
   
  .image { 
    position:absolute;
    z-index: unset;
    
  }

  .leftButton {
    color: black;
    text-align:right;
    font-size:35px;
    font-family: 'sofia';
    border-radius: 30px;
    background-color:rgb(252, 228, 228);
    position:absolute;
    bottom: -410px;
    left:200px;
    
  } 

  
   

  
  
 

  
    
    
         
  
  


  
 
  
    
     
   
    
    
     
    
   
   
  

  